.appBar {
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.title {
    flex-grow: 1;
    align-items: center;
    display: flex;
    text-decoration: none;
}

.image {
    margin-right: 10px;
    display: flex;
}

.menuButton {
    display: none;
}

.grow {
    flex-grow: 1;
}

.button {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 40px;
}